

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    padding: 2rem;
    color: black;
    background-color: white;
}

a, a:link{
    color:white;
    text-decoration: none;
}

a:hover{
    color:#696969;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

h2{
    text-decoration: underline;
}

ul{
    list-style-type: none;
    color: black;
}


.chef-border, .footer-main{
    display:inline-block;
    background-color:#696969;
    padding:8em 1em 8em 1em;
    text-align:left;
    color: white;
    width:100%;
    margin-top: 0em;
    margin-left: 0em;
    border-left: 0.05em solid white;
    transition: width 2s;
    -webkit-transition: width 2s; 
}

.chef-border:hover{
  color: black;
  width:53em;

}


.web-nav{
    display:inline-block;
    background-color:black;
    padding:1em 0;
    text-align:center;
    text-decoration: none;
    width:100%;
}


